<div class="full-round-container">

  <div class="half-round-container">
    <div class="player-info">
      <img class="profile-img" src="<%= tournament.playerInfo[0].profileImg %>" alt="image" />
      <p class="player-name"><%= tournament.playerInfo[0].name %></p>
    </div>
    <p class="player-score-lose"><%= tournament.playerInfo[0].score %></p>
  </div>

  <div class="half-round-container">
    <div class="player-info">
      <img class="profile-img" src="<%= tournament.playerInfo[1].profileImg %>" alt="image" />
      <p class="player-name"><%= tournament.playerInfo[1].name %></p>
    </div>
    <p class="player-score-win"><%= tournament.playerInfo[1].score %></p>
  </div>

</div>
